@import url(./fonts.css);

/* CUSTOM PROPS */

:root {
    --Galactic-Blue: #755CDE;
    --Summer-Yellow: #F6A560;
    --Pink: #F39E9E;
    ---Light-Red: #EB7565;
    --Cyan: #61C4B7;
    --Purple: #552049;
    --Black: #030303;
    --Medium-Brown: #7A746E;
    --Light-Cream: #FFF7F0;
    --PlusJakartaSans: "PlusJakartaSans"
}

/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* CONTAINER */

.container {
    max-width: 1190px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
}

body {
  font-family: var(--PlusJakartaSans);
  font-size: 18px;
  line-height: 28px;
  background-color: var(--Light-Cream);
}

/* BTN */

.btn-1,.btn-2 {
    display: block;
    padding: 14px 45px;
    background-color: var(--Black);
    color: var(--Light-Cream);
    font-family: var(--PlusJakartaSans);
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    width: max-content;
    border-radius: 28px;
    transition: .4s;
}

.btn-1:hover {
    background-color: var(--Galactic-Blue);
    cursor: pointer;
}

.btn-2 {
    background-color: var(---Light-Red);
}
.btn-2:hover {
    background-color: var(--Summer-Yellow);
    cursor: pointer;
}


/* SITE-HEADER */
.site-header-hero {
    padding-top: 38px;
    padding-bottom: 40px;

}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
}
.logo-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
}
/* SITE-HEADER */

/* SITE-HERO */
.site-hero {
    display: flex;
    flex-direction: column;
   align-items: center;
   row-gap: 23px;
   
}
.site-headline {
    margin-top: 66px;
    color: var(--Black);
    font-size: 56px;
    font-weight: 700;

}
.site-desc {
    max-width: 730px;
    width: 100%;
    color: var(--Medium-Brown);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}
/* SITE-HERO */

/* SKILLS SECTION */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
}
.skills-card {
    min-height: 182px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
}
.skills-card img {
    position: absolute;
    right: 24px;
    top: 24px;

}
.skills-title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.skills-grapic {
    background-color: var(--Galactic-Blue);
    grid-row: span 2;
    grid-column: span 2;
}

.skills-ui {
    background-color: var(--Summer-Yellow);
    grid-row: span 1;
    grid-column: span 1;
}
.skills-apps {
    background-color: var(--Pink);
    grid-row: span 1;
    grid-column: span 1;
}
.skills-photo {
    background-color: var(--Cyan);
    grid-row: span 1;
    grid-column: span 2;
}
.skills-illustrate {
    background-color: var(---Light-Red);
    grid-row: span 1;
    grid-column: span 2;
}
.skills-motion {
    background-color: var(--Purple);
    grid-row: span 1;
    grid-column: span 2;
}
/* SKILLS SECTION */